<template name="welcome">
  <section class="splash welcome">
    <img src="/images/pixeldust.png" width="70%">
    <img class="logo" src="/images/partypixels.png" height="20">
    <section style="display;flex; flex-direction: row">
      <img style="display:inline-block;" src="/images/monster-lime.gif" width="20%">
      <img style="display:inline-block;" src="/images/monster-purple.gif" width="20%">
      <img style="display:inline-block;" src="/images/monster-turquoise.gif" width="20%">
    </section>

    <h2>Hi, we are pixemals.</h2>
    <div class="starboard"></div>
  </section>
</template>
