@font-face {
    font-family: 'andinaregular';
    src: url('/fonts/andina-webfont.woff2') format('woff2'),
         url('/fonts/andina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}