
//Font
$font:      "andinaregular", Arial, sans-serif;
$font-heading:   "andinaregular", Arial, sans-serif;
$font-family-sans-serif:          "andinaregular", "Roboto", sans-serif !default;

//Colors
$red : red;
$blue : blue;
$turquoise: 1affd5;
$lime: c4ff1a;
$purple: ab87ff;