<template name="createGame">
  <section class="createGame">
    <br>
    <!-- {{> quickForm collection="Games" id="insertGameForm" type="insert"}} -->
    {{#if state1}}
      {{> selectAnimal}}
    {{/if}}
    {{#if state2}}
      {{> selectName}}
    {{/if}}
    {{#if state3}}
      {{> selectType}}
    {{/if}}
    {{#if state4}}
      {{> addPlayers}}
    {{/if}}
    {{#if state5}}
      <section class="playGame">
        <img src="/images/User1.gif" />
        <img src="/images/User2.gif" />
        <img src="/images/User3.gif" />
        <h1>put the phone in me!</h1>
        <img src="/images/User4.gif" />
        <img src="/images/User5.gif" />
        <img src="/images/User6.gif" />
      </section>
    {{/if}}

  </section>
</template>

<template name="selectAnimal">
  <section class="selectAnimal">
    <h1 class="purple" data-say>Which piximal do you want to play with?</h1>
    <br>
    {{#each animals}}
      <div data-select-animal data-id={{_id}} data-name={{name}}>
        <img src="{{picture}}" />
        <p style="color:{{color}}">{{name}}</p>
        </div>
    {{/each}}
  </section>
</template>

<template name="selectName">
  <section class="selectName">
    <h1 class="purple">What is your name?</h1>
    <br>
    <input placeholder="Enter your name"/>
    <button data-enter-name  class="disabled">Submit</button>
  </section>
</template>

<template name="selectType">
  <section class="selectType">
    <h1 class="purple">What game do you want to play?</h1>
    <br>
    <button data-select-all-vs-all>All vs. All</button>
    <p>or</p>
    <button data-select-animal-vs-all > Piximal vs. All</button>
  </section>
</template>

<template name="addPlayers">
  <section class="addPlayers">
    <h1 class="purple">Add Players?</h1>
    {{#each players}}
      <p>{{this}}</p>
    {{/each}}
    <input placeholder="Enter a name" data-player-name/>
    <button data-enter-name class="disabled">Add</button>
    <button data-done>Done</button>
    <hr>
  </section>
</template>

