<template name="createGame">
  <section class="createGame">
    <h1>createGame</h1>
    <!-- {{> quickForm collection="Games" id="insertGameForm" type="insert"}} -->
    {{state}}
    {{#if state1}}
      {{> selectAnimal}}
    {{/if}}
    {{#if state2}}
      {{> selectName}}
    {{/if}}
    {{#if state3}}
      {{> selectType}}
    {{/if}}
    {{#if state4}}
      {{> addPlayers}}
    {{/if}}

  </section>
</template>

<template name="selectAnimal">
  <section class="selectAnimal">
    <h1 class="purple" data-say>Which piximal do you want to play with?</h1>
    {{#each animals}}
      <div data-select-animal data-id={{_id}}>
        <img src="{{picture}}" />
        <p style="color:{{color}}">{{name}}</p>
        </div>
    {{/each}}
  </section>
</template>

<template name="selectName">
  <section class="selectName">
    <h1 class="purple">what is your name?</h1>
    <input placeholder="enter your name"/>
    <button data-enter-name  class="disabled">Submit</button>
  </section>
</template>

<template name="selectType">
  <section class="selectType">
    <h1 class="purple">what game do you want to play?</h1>
    <button data-select-all-vs-all>All vs. All</button>
    <p>or</p>
    <button data-select-animal-vs-all > {{name}} vs. All</button>
  </section>
</template>

<template name="addPlayers">
  <section class="addPlayers">
    <h1 class="purple">Add Players?</h1>
    {{#each players}}
      <p>{{this}}</p>
    {{/each}}
    <input placeholder="enter a name" />
    <button data-enter-name class="disabled">Add</button>
    <button data-done>Done</button>
    <hr>
  </section>
</template>

