.starboard {
  background-image: url(/images/starboard.png);
  background-size: contain;
  height: 20px;
  width: 100%;
  max-width: 350px;
  display: block;
  margin-top: 5px;
  margin-bottom: 50px;
}